<!--<a href="/auth/facebook" target="_blank"><button type="button" class="btn btn-success">Facebook</button> </a>
            <a href="/auth/google" target="_blank"><button type="button" class="btn btn-success" ng-click="main.google();">Google</button> </a>-->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="product-image">
                <a href="#full-preview-gallery-modal" itemprop="contentUrl" data-toggle="modal">
                    <img src="/assets/images/logo1.jpg" itemprop="thumbnail" alt="Image description" style="height:58vh;width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class=" survival-text" style="margin-top:20vh">
                <div class="view-area">
                    <div class="text-center">
                        <h3 class="product-name">"Survival kit"<br>
                            <p class=".smal" style="margin-top:5px">We packed for you</p>
                        </h3>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="personal" style=" background: transparent; box-shadow: 0 0 4px rgba(255, 255, 255, 0.02);">
                        <a class="btn btn-new btn-neutral btn-wd btn-round" href="#full-preview-gallery-modal" role="button" data-toggle="modal">
                                Preview
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border-2 container-fluid" style="background-color:white">
    <!--container 2 small menue-->
    <div class="border-2 section-product-description section-white-gradient section-scaled" data-no-turboline style="background-color:#ececec">
        <div class="container product">

            <nav class="navbar navbar-default " role="navigation">
                <div class="container">
                    <div class="navbar-header navhead">
                        <button type="button" class="navbar-toggle collapsed toggle-btn small-nav " data-toggle="collapse" data-target="#navbar2"
                            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

                    </div>
                    <div id="navbar2" class="navbar-collapse collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav ">
                            <li data-no-turbolink class="nav-li">
                                <a href="#">
                                    <p class="icon-p text-center">Home</p>
                                    <i class="fa fa-home fa-3x text-center icon-i" style="float:right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li data-no-turbolink class="nav-li">
                                <a href="#">
                                    <p class="icon-p text-center">About</p>
                                    <i class="fa fa-eye fa-3x text-center icon-i" style="float:right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li data-no-turbolink class="nav-li">
                                <a href="#">
                                    <p class="icon-p text-center">Our product</p>
                                    <i class="fa fa-gift fa-3x text-center icon-i" style="float:right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li data-no-turbolink class="nav-li">
                                <a href="#">
                                    <p class="icon-p text-center">Our Team</p>
                                    <i class="fa fa-eye fa-3x text-center icon-i" style="float:right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li data-no-turbolink class="nav-li">
                                <a href="#">
                                    <p class="icon-p text-center">Contact Us</p>
                                    <i class="fa fa-eye fa-3x text-center icon-i" style="float:right" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <br><br><br><br><br>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="description">
                        <h2 class="legend text-center">About Us</h2><br>
                        <div>
                            <input type="checkbox" class="read-more-state" id="post-1" />

                            <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sit amet, consectetur adipisicing elit.Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Libero fuga facilis vel consectetur quos
                                sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore
                                minus beatae voluptatem! Libero fuga facilis vel consectetur quos sapiente deleniti eveniet
                                dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus <span class="read-more-target"> 
                                beatae voluptatem!Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores
                                tempore eos deserunt officia qut. Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores
                                tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem! Libero
                                fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia
                                quis ab? Excepturi vero tempois ab? Excepturi vero tempore minus beatae voluptatem!Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Libero fuga facilis vel consectetur quos sapiente
                                deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae
                                voluptatem!</span> </p>
                            <label for="post-1" class="read-more-trigger"></label>
                        </div>

                        <button type="button" style="margin:4% 0 0 40%" class="btn btn-primary btn-lg about-modal" data-toggle="modal" data-target="#aboutModal">How hamppys works</button>

                        <!-- Modal -->

                    </div>

                </div>

            </div><br><br><br>
            <!--About ends here-->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="description">
                        <h2 class="legend text-center">Our Product</h2>
                        <h6 class="text-center"> Our kit depends on survival conditions</h6><br><br>
                        <div>
                            <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sit amet, consectetur adipisicing elit.Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Libero fuga facilis vel consectetur quos
                                sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore
                                minus beatae voluptatem! Libero fuga facilis vel consectetur quos sapiente ipsum dolor sit
                                amet, consectetur adipisicing elit. Libero fuga facilis vel consectetur quos sapiente deleniti
                                eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae
                                voluptatem! Libero fuga facilis vel consectetur quos sapiente </p>
                        </div><br><br>

                        <div class="row" style="padding: 24px 23px 0 15px; background-color: #fff;">
                            <div class="col-md-6 col-sm-6 padder" style="margin-bottom: 20px; border: double 1px rgba(14, 12, 12, 0.21);padding: 16px 0 0 15px;
                                    border-radius: 20px;">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="thumbnail tile`">
                                            <img class="tile-image" src="/assets/images/logo.jpg" style="height:30%">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 padder2" style="margin-left: -20px;">
                                        <div class="thumbnail tile">
                                            <h2>SRM UnIVERSITY</h2>
                                            <button type="button" style="" class="btn btn-primary btn-lg about-modal" data-toggle="modal" data-target="#srmModal">Search the kit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 padder" style="margin-bottom: 20px; border: double 1px rgba(14, 12, 12, 0.21);padding: 16px 0 0 15px;
                                    border-radius: 20px;">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="thumbnail tile`">
                                            <img class="tile-image" src="/assets/images/logo.jpg" style="height:30%">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 padder2" style="margin-left: -20px;">
                                        <div class="thumbnail tile">
                                            <h2>Punes UnIVERSITY</h2>
                                            <button type="button" style="" class="btn btn-primary btn-lg about-modal" data-toggle="modal" data-target="#puneModal">Search the kit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div><br><br><br><br><br><br>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="description">
                        <h2 class="legend text-center">Our Team</h2>
                        <h6 class="text-center"> The strength is blahhh!!!!</h6><br><br>
                        <div>
                            <p class="read-more-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sit amet, consectetur adipisicing elit.Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Libero fuga facilis vel consectetur quos
                                sapiente deleniti eveni</p>
                        </div><br><br>
                        <h4 class="text-center">The Honkers <i class="fa fa-bullhorn fa-2x" aria-hidden="true"></i>
                            <div class="row">
                                <div class="col-md-3 col-sm-4" style="padding-left: 30px;">
                                    <div class="image-card">
                                        <img src="/assets/images/test.jpg">
                                        <h2>Raghav</h2>
                                        <p style="font-family: cursive;">CEO</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4" style="padding-left: 30px;">
                                    <div class="image-card">
                                        <img src="/assets/images/test.jpg">
                                        <h2>Arjun</h2>
                                        <p style="font-family: cursive;">hero</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4" style="padding-left: 30px;">
                                    <div class="image-card">
                                        <img src="/assets/images/test.jpg">
                                        <h2>Aishwarya</h2>
                                        <p style="font-family: cursive;">hero</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4" style="padding-left: 30px;">
                                    <div class="image-card">
                                        <img src="/assets/images/test.jpg">
                                        <h2>Other</h2>
                                        <p style="font-family: cursive;">Hero</p>
                                    </div>
                                </div>
                            </div>
                            <br><br><br><br>
                    </div>

                </div>
            </div>
            <!--All rows ends here-->
        </div>
    </div>
</div>
<div class="container-fluid border-1" style="background: linear-gradient(135deg, rgba(62,62,62,0.89) 0%, #151515 100%);">
    <div class="contact section-product-description section-white-gradient section-scaled" data-no-turboline style="background: linear-gradient(0deg, #e5e5e5 0%, #fff 100%);;border-radius:20px;margin: -70px 275px 0;">
        <h2 class="text-center">We are here to help you!</h2>
        <br><br>

        <img src="/assets/images/logo.jpg">
        <div class="call-on text-center">
            <h5 style="margin: 35px; text-align: center;font-size: 40px;"> Reach Us</h5>
            <br><i class="fa fa-envelope fa-3x" aria-hidden="true"><h4>info.hamppys@gmail.com</h4></i>
            <br> 
            <i class="fa fa-whatsapp fa-3x" aria-hidden="true"><h4>9551302280</h4></i>

        </div>
    </div>
    <div class="container" style="margin-bottom:50px">
        <div class="row">
            <div class="text-center">
                <div class="contact-icon">
                    <i class="fa fa-comment fa-3x text-center icon-i" style="float:right" aria-hidden="true"></i>
                </div>
                <h3 style="color:white"> Because sharing is caring</h3>
                <a href="#" class="btn btn-success btn-round" style="margin:20px 0 0 40px">
                    <i class="fa fa-facebook-square"></i> Facebook
                </a>
                <a href="#" class="btn btn-success btn-round" style="margin:20px 0 0 45px">
                    <i class="fa fa-facebook-square"></i> Instagram
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid" style="background-color:#262626">
        <br>
        <div class="row">
            <div class="social-area text-center">
                <h4 class="text-center" style="color: white; margin-bottom: 25px;"> We are social !!!</h4>
                <hr><br><br>
                <a href="#" class="btn btn-default btn-social btn-round" rel="publisher" target="_blank"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="btn btn-default btn-social btn-round" target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a href="#" class="btn btn-default btn-social btn-round" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-default btn-social btn-round" target="_blank"><i class="fa fa-google-plus-square"></i></a>
                <br><br>
            </div>
        </div>
        <div class="credits">
            © 2017 Hamppys, all rights reserved. Made with <i class="fa fa-heart fa-3x text-center icon-i" style="font-size:25px;color:red"
                aria-hidden="true"></i> for a better gifting solutions.
        </div>
    </div>
</div>

<!--space for modals-->
<!--About us modal-->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style=" margin-left: 18%;">
        <div class="modal-content" style="width: 150%; margin-top: 15%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">How hamppys works</h4>
            </div>
            <div class="modal-body" style="padding: 35px 0px 20px 185px;">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img src="/assets/images/logo.jpg" style="height:150px; width:150px">
                        <p class="tex t-center" style="text-align: left;">Choose Your college</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="/assets/images/logo.jpg" style="height:150px; width:150px">
                        <p class="tex t-center" style="text-align: left;">Book & confirm your kit</p>
                    </div>
                </div>
                <div class="row" style="margin: 5% 0 3% 0;">
                    <div class="col-md-6 col-sm-6">
                        <img src="/assets/images/logo.jpg" style="height:150px; width:150px">
                        <p class="tex t-center" style="text-align: left;">Pay and colect on arrival</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="/assets/images/logo.jpg" style="height:150px; width:150px">
                        <p class="tex t-center" style="text-align: left;">Survive your college</p>

                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!--About us modal ends here-->
<!--srm kit modal begins-->
<div class="modal fade" id="srmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style=" margin-left: 18%;">
        <div class="modal-content" style="width: 150%; margin-top: 15%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">SRM KIT</h4>
            </div>
            <div class="modal-body" style="padding: 35px 0px 20px 185px;">
                <div class="row">
                    <div class="col-md-5 col-sm-5">

                        this part will have college image
                    </div>
                    <div class="col-md-7 col-sm-5">

                        this part will have list of kit
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Srm kit ends here-->
<!--SMBJ college kit modal start-->
<div class="modal fade" id="puneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style=" margin-left: 18%;">
        <div class="modal-content" style="width: 150%; margin-top: 15%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Pune KIT</h4>
            </div>
            <div class="modal-body" style="padding: 35px 0px 20px 185px;">
                <div class="row">
                    <div class="col-md-5 col-sm-5">

                        this part will have college image
                    </div>
                    <div class="col-md-7 col-sm-5">

                        this part will have list of kit
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SMBJ college kit modal ends-->